<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Navbar -->
<html>
<body>
<nav id="navbar" style="margin-bottom: 50px;" class="navbar navbar-default" th:fragment="fragment-navbar">
    <div class="container">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="currencyprices">Currencies Price</a></li>
                <li><a href="preferences">Preferences</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>